<div>
    <input id="name" type="text"/>
    <input id="path" type="text"/>
    <input id="submit" type="button" value="submit"/>
</div>
<div>
<ul id="ads">

</ul>
</div>

<script>
request({
    url: "/api/ads",
    method: "GET"
})
.then(res => {
    var ads = JSON.parse(res);
    ads.forEach(renderAd);
})
.catch(err => {
    console.error(err);
});

function renderAd (ad)
{
    var el = document.createElement("li");
    el.innerHTML = `id: ${ad.id}, name: ${ad.name}, path: ${ad.path}`;
    document.getElementById("ads").appendChild(el);
}

document.getElementById("submit").onclick = function () {

    var name = document.getElementById("name").value;
    var path = document.getElementById("path").value;

    var ad = {
        name,
        path
    };

    var options = {
        url: "/api/ads",
        method: "POST",
        body: JSON.stringify(ad)
    };

    request(options)
    .then(res => {
        console.log(res);
    })
    .catch(err => {
        console.error(err);
    });

};

</script>

