<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size:100%;
	margin: 0 auto;
    min-height:100%;
    position:relative;
    padding-top:48px;
    padding-bottom:120px;
}

html{
    height:100%;
}

.item{
	height:100%;
	margin: 0 10px;	
	line-height:100%;
	display:inline-block;
}

input {
    width:100%;
}
</style>

</head>
  <body ng-app="app">

	<div ng-controller="menuController" style="position:absolute; top:0; width:100%; height:48px; padding:13px 0; background-color:gainsboro;">
	  <a class="item" ui-sref="home">
		Home
	  </a>
	  <a class="item" ng-if="!account.token" ui-sref="login">
		Login
	  </a>
	  <div class="item" ng-if="account.token">
		hi, {{account.email}}	
	  </div>
	  <a class="item" ui-sref="ads">
		Ads	
	  </a>
	  <a class="item" ng-click="logout()" ng-if="account.token" href="#"> logout
	</a>
	</div>
	<div ui-view style="max-width:800px; margin:0 auto; padding: 40px 0 0 0;">

	</div>

	<div style="width:100%; position:absolute; bottom:0; height:120px; background-color:gainsboro;">

    </div>

    <script src="bundle.js"></script>

  </body>
</html>  
